<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body class="{% if page.home-page %}home-page{% elsif page.layout == 'post' %}post-page{% endif %}" ontouchstart="">

    {% if page.home-page %}
    {% include panel-wallpaper.html variant='home' %}
    {% elsif page.layout == 'post' %}
    {% include panel-wallpaper.html variant='post' %}
    {% endif %}

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="{{ "/img/icon_wechat.png" | prepend: site.baseurl }}" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
